%h3= "Create a new build task for '#{@project.title}'"
%form{:action => "/projects/#{@project.id}/tasks/create", :method => :post}
	%p
		%b Task Type
		%select{:name => "task_type"}
			- @task_types.each do |type|
				%option{:value => "#{type.id}"}= type.title
	%p Select Test Directory
	%p
		- @project.top_level_directories.each do |dir|
			%input{:type => "checkbox", :name => "dirs", :value => "#{dir}"}
			%b= dir
			%br
	%input{:type => "submit", :value => "Create New Task"}
%a{:href=>"/projects/show/#{@project.id}"} Back