!!! 5
%html
	%head
		%title MiniBuildr
		%link{:rel=>'stylesheet', :media => "screen",:href=>'/main.css', :type => "text/css"}
		%script{:src=>'/jquery.js', :type=>"text/javascript"}
	%body
		#top_bar
			#top_bar_contents
				#logo
				#search_bar
					%input{:type=>"text", :placeholder => "Search"}
				#link_bar
					%ul
						%li
							%a{:href=>"/projects"} Home
						%li
							%a{:href=>"/projects/new"} New Project
						%li
							%a{:href=>"/queues"} Job Queues
				#login_bar
					%ul
						- if signed_in?
							%li
								%img{:src => "#{gravatar(current_user.email)}?s=20", :style => "float: left; padding-right:10px"}
								%a{:href => "/users/#{current_user.id}/show"}= "Signed in as #{(!current_user.handle.nil?) ? current_user.handle : 'J Doe'}"
							%li
								%a{:href => "/logout"} Sign Out
						- else
							%li
								%a{:href => "/login"} Sign In
		#content
			#left_content.section
				= yield_content :left
			#right_content.section
				= yield_content :right
			#main_content.section
				= yield