- content_for :title do
	"Login"
- content_for :left do
	%h3 Login using ...
	- %w(aol myspace openid presently).each do |provider|
		.profile.login_provider
			%a{:href=>"/auth/#{provider}"}
				%img{:src => "/auth/#{provider}_64.png"}
				%span= provider

%h3 or ...
- %w(twitter facebook github linkedin).each do |provider|
	.profile.login_provider
		%a{:href=>"/auth/#{provider}"}
			%img{:src => "/auth/#{provider}_64.png"}
			%span= provider

- content_for :right do
	%h3 or ...
	- %w(basecamp campfire yahoo google).each do |provider|
		.profile.login_provider
			%a{:href=>"/auth/#{provider}"}
				%img{:src => "/auth/#{provider}_64.png"}
				%span= provider
