%h3 Configure Task
%form{:action => "/projects/#{@project.id}/tasks/create", :method => :post}
	%input{:type => "hidden", :name => "task_type_id", :value => "#{@task_type.id}"}
	- if @task_type.directory_required?
		%p= @task_type.directory_input_message
		- if @task_type.directory_multiple?
			%p
				- @project.top_level_directories.each_with_index do |dir, index|
					%input{:type => "checkbox", :name => "directory[#{index}]", :value => "#{dir}", :style => "width:25px"}
					%b= dir
					%br
		- else
			%p
				- @project.top_level_directories.each do |dir|
					%input{:type => "radio", :name => "directory", :value => "#{dir}", :style => "width:25px"}
					%b= dir
					%br
	%input{:type => "submit", :value => "Create Task"}