%h3= "Create a new build task for '#{@project.title}'"
%form{:action => "/projects/#{@project.id}/tasks/options", :method => :post}
	%p
		%b Task Type
		%select{:name => "task_type_id"}
			- @task_types.each do |type|
				%option{:value => "#{type.id}"}= type.title
	%input{:type => "submit", :value => "Select Task Options"}
%a{:href=>"/projects/show/#{@project.id}"} Back