%h3= "Create a new build task for '#{@project.title}'"
%form{:action => "/projects/#{@project.id}/tasks/options", :method => :post}
	%p
		%b Step1: Select Task Type
		%br
		- @task_types.each do |type|
			%input{:type => "radio", :name => "task_type_id", :value => "#{type.id}", :style => "width:25px"}= type.title
			%br
	%input{:type => "submit", :value => "Select Task Options"}
%a{:href=>"/projects/show/#{@project.id}"} Back