- content_for :title do
	"All Projects"
#projects
	%h3 All Projects
	-@projects.each_with_index do |project, index|
		.project
		%div{:id => "project_#{index + 1}", :class => "profile #{(index % 2 == 1) ? 'left' : 'right'}"}
			%h2
				%a{:href=>"/projects/show/#{project.id}"}= project.title
			%p= project.url
			.links
				%a{:href=>"/projects/update/#{project.id}"} (Edit)
				